*{
box-sizing: border-box;	
}

body {
    background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.125rem;
    line-height: 1.5;
    color: #444349;
}

h1, h2, h3, ul, ol, p, img {
    margin-bottom: 1.5rem;
}

h3{
	font-size: 1.5rem;
}

a{
	color: #bd806e;
	text-decoration:none;
}

.locations, .program, .gifts, .faq, .contact {
    width: 95%;
    margin: 1.5rem auto;
    padding: .5rem 1rem;
    text-align: center;
}
/* =============================

    HEADER STYLES

=============================*/

.cover{
	display:table;
	background: url("https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg") no-repeat 70% center/cover ;
	height:100vh;
  width:100vw;
  text-align:center;
	
}


.hero-text-wrapper{
	display: table-cell;
	vertical-align:middle;
}

.hero-text{
	margin: 0 auto;
	padding:.625rem;
	color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
  width:50%;
  border-radius:5px;
	}
	
.hero-text h1{
	font-size:7rem;
	color: #d2ba87;
	margin-bottom: 0;
	font-family: 'Great Vibes', cursive;
}

.tagline {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
}

.tagline::after{
	display:block;
	content: "";
	background-color:#fff;
	height:1px;
	width:12.515625rem;
	margin: .6rem auto;
	
}
.date {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

.date::before,
.date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}

/* =============================

    Content STYLES

=============================*/
.location{
	display:block;
	margin:1.5rem auto;
	width:95%;
	padding: .5rem 1rem;
	text-align: center;
}

.location h2{
	font-family: 'Great Vibes', cursive;
	font-size:3rem;
	text-align:center;
}

.blurb {
    display: inline-block;
	width: 30%;
	margin: .5rem;
}
.blurb h3{
	font-weight: 700;
}

.blurb div {
    font-family: 'Muli', sans-serif;
}

.blurb img{
	height: 7.5rem;
}

.program{
	display:block;
	text-align:left;
	width: 100%;
	background: hsla(100,0%,0%,.6);
	color:#d2ba87;
	font-family: 'Muli', sans-serif;
}

.program h2{
	font-family: 'Great Vibes', cursive;
	font-size:3rem;
	text-align:center;
	margin-top: 1rem;
}

.program-wrapper {
    margin: 0 auto;
    width: 30vw;
}

.gifts h2{
	font-family: 'Great Vibes', cursive;
	font-size:3rem;
	text-align:center;
	margin-top: 1rem;
}

.gifts img{
	height: 7.5rem;
}

.faq{
	display:block;
	width:100%;
	background: hsla(100,0%,0%,.6);
	text-align:center;
	color:#d2ba87;
}

.faq h2{
	font-family: 'Great Vibes', cursive;
	font-size:3rem;
	text-align:center;
	margin-top: 1rem;
	
}

.question{
	font-weight:700;
	margin-bottom:.5rem;
}

.faq h3{
	text-align:left;
}

.faq p{
	font-family: 'Muli', sans-serif;
	text-align:left;
}

.question-group{
	display:inline-block;
	width:30%;
	margin: .5rem;
	vertical-align: top;
	padding: 1.5rem;
}

.answer{
	margin-bottom:1.5rem;
}

.contact h2{
	font-family:'Great Vibes', cursive;
	font-size: 3rem;
}

footer{
	color:white;
	text-align:center;
	display:table;
	width:100%;
	height: 10vh;
	background: hsla(100,0%,0%,.6);
	font-size: .875rem;
}

.footer-wrapper{
	display:table-cell;
	vertical-align:middle;
	padding:.5rem 1rem;
}

footer p{
	margin-bottom:0px;
}